/* ****************************** */
/* APP CSS */
/* ****************************** */
body {
    font-weight: 300;
    min-height: 100vh;
    /* background-color: #754500; */
}

.pagination-nav {
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 20px !important;
    background-color: rgb(248, 249, 250) !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.display-3, h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Bungee', sans-serif;
}

.rounded-top-20 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rounded-20 {
    border-radius: 20px;
}

.main-content {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* ****************************** */
/* Forms */
/* ****************************** */

::placeholder {
    color: rgb(255, 255, 255, .87) !important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius:  20px;
    border-bottom-left-radius:  20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* ****************************** */
/* Buttons */
/* ****************************** */
.btn {
    border-radius: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #C47335;
    border-color: #0d6efd;
    border-width: 0px;
}
.btn-primary:hover {
    border-color: #B06830;
    background-color: #B06830;
}   

.btn-outline-primary {
    color: #C47335;
    border-color: #C47335;
}
.btn-outline-primary:hover {
    color: white;
    border-color: #B06830;
    background-color: #B06830;
}  

.text-primary {
    color: #C47335 !important;
}

.row>* {
    flex-shrink: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}


/* ****************************** */
/* Links */
/* ****************************** */
a {
    color: #C47335 !important;
    font-weight: 700;
    pointer-events: none;
    cursor: default;
}

a:hover {
    color: #965727  !important;
}

a:active {
    color: #965727  !important;
}

.btn-link {
    color: #C47335 !important;
    font-weight: 700;
}

.btn-link:hover {
    color: #B06830;
}

.hover-pointer {
    cursor: pointer;
}

.span-link {
    cursor: pointer;
    text-decoration: underline;
    color: #C47335 !important;
    font-weight: 700;
}

.span-link:hover {
    text-decoration: underline;
    color: #965727  !important;
}

.span-link:active {
    color: #965727  !important;
}

/* ****************************** */
/* Cards */
/* ****************************** */
.card {
    border-radius: 20px !important;
    border: none;
}

.card-header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

/* ****************************** */
/* Text */
/* ****************************** */
.text-primary {
    color: #C47335 !important;
}


/* ****************************** */
/* Backgrounds */
/* ****************************** */
.bg-dark-2 {
    background-color: #181c1f;
}

.card-body-bg-dark {
    background-color: #2E3235;
}

.text-high-emphasis {
    color:rgb(255, 255, 255, .87);
}

.text-md-emphasis {
    color:rgb(255, 255, 255, .60);
}

.table-bg-dark-2 {
    --bs-table-bg: #181c1f;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}

input {
    background-color: #2E3235 !important;
    color: rgb(255, 255, 255, .87) !important;
}

.input-light {
    background-color: #fff !important;
    color: #212529 !important;
}

input[type=checkbox] {
	border-color: rgb(255, 255, 255, .87);
}



.badge-Common {
    color: black;
    background-color: #e2af96;
}

.badge-Uncommon {
    color: black;
    background-color: #a9ee64;
}

.badge-Rare {
    color: black;
    background-color: #6bbaec;
}

.badge-Epic {
    color: black;
    background-color: #7449ab;
}

.badge-Legendary {
    color: black;
    background-color: #ffb563;
}