:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-rgb: 33,37,41;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}



.text-high-emphasis {
    color: rgb(255, 255, 255, .87);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.bg-dark-2 {
    background-color: #181c1f;
}

.navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

@media (min-width: 768px) {
    .ms-md-auto {
        margin-left: auto!important;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        flex-direction: row;
    }
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.text-nowrap {
    white-space: nowrap!important;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

div {
    display: block;
}

.pt-1 {
    padding-top: .25rem!important;
}

.pb-1 {
    padding-bottom: .25rem!important;
}

.mb-1 {
    margin-bottom: .25rem!important;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width: 768px) {
    .offset-md-8 {
        margin-left: 66.66666667%;
    }
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}



.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#hero.svelte-100nher {
    margin-top: 10vh;
}

.align-items-center {
    align-items: center!important;
}

@media (min-width: 768px) {
    .order-md-2 {
        order: 2!important;
    }
}

/* ****************************** */
/* APP CSS */
/* ****************************** */
body {
    font-weight: 300;
    min-height: 100vh;
    /* background-color: #754500; */
}

.pagination-nav {
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 20px !important;
    background-color: rgb(248, 249, 250) !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.display-3, h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Bungee', sans-serif;
}

.rounded-top-20 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rounded-20 {
    border-radius: 20px;
}

.offcanvas-bottom {
    height: 65vh;
}

/* ****************************** */
/* Buttons */
/* ****************************** */
.btn {
    border-radius: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #C47335;
    border-color: #0d6efd;
}
.btn-primary:hover {
    border-color: #B06830;
    background-color: #B06830;
}   

.btn-outline-primary {
    color: #C47335;
    border-color: #C47335;
}
.btn-outline-primary:hover {
    color: white;
    border-color: #B06830;
    background-color: #B06830;
}  

.text-primary {
    color: #C47335 !important;
}


/* ****************************** */
/* Links */
/* ****************************** */
a {
    color: #C47335 !important;
    font-weight: 700;
    pointer-events: none;
    cursor: default;
}

a:hover {
    color: #965727  !important;
}

a:active {
    color: #965727  !important;
}

.btn-link {
    color: #C47335 !important;
    font-weight: 700;
}

.btn-link:hover {
    color: #B06830;
}

.hover-pointer {
    cursor: pointer;
}

.span-link {
    cursor: pointer;
    text-decoration: underline;
    color: #C47335 !important;
    font-weight: 700;
}

.span-link:hover {
    text-decoration: underline;
    color: #965727  !important;
}

.span-link:active {
    color: #965727  !important;
}

/* ****************************** */
/* Cards */
/* ****************************** */
.card {
    border-radius: 20px !important;
    border: none;
}

.card-header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

/* ****************************** */
/* Text */
/* ****************************** */
.text-primary {
    color: #C47335 !important;
}


/* ****************************** */
/* Backgrounds */
/* ****************************** */
.bg-dark-2 {
    background-color: #181c1f;
}

.card-body-bg-dark {
    background-color: #2E3235;
}

.text-high-emphasis {
    color:rgb(255, 255, 255, .87);
}

.text-md-emphasis {
    color:rgb(255, 255, 255, .60);
}

.table-bg-dark-2 {
    --bs-table-bg: #181c1f;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}

input {
    background-color: #2E3235 !important;
    color: rgb(255, 255, 255, .87) !important;
}

.input-light {
    background-color: #fff !important;
    color: #212529 !important;
}

input[type=checkbox] {
	border-color: rgb(255, 255, 255, .87);
}



.badge-Common {
    color: black;
    background-color: #e2af96;
}

.badge-Uncommon {
    color: black;
    background-color: #a9ee64;
}

.badge-Rare {
    color: black;
    background-color: #6bbaec;
}

.badge-Epic {
    color: black;
    background-color: #7449ab;
}

.badge-Legendary {
    color: black;
    background-color: #ffb563;
}